:root {
	--slate: #5a646d;
	--gold: #9e8f7e;
}

@font-face {
  font-family: 'Ortica-Bold';
  src: local('Ortica-Bold'), local('Ortica-Bold'),
       url('../fonts/ortica-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ortica-bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ortica-bold.otf') format('opentype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'KingsValley-Regular';
  src: url('../fonts/kings-valley-regular.eot'); /* IE9 Compat Modes */
  src: local('KingsValley-Regular'), local('KingsValley-Regular'),
       url('../fonts/kings-valley-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/kings-valley-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/kings-valley-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/kings-valley-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/kings-valley-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@import url("https://use.typekit.net/vqp3neq.css");

*	{
	margin: 0; padding: 0; box-sizing: border-box;
}

html {
  	-ms-text-size-adjust: 100%;
  	-webkit-text-size-adjust: 100%;
  	box-sizing: border-box;
  	overflow-y: scroll;
  	scroll-behavior: smooth;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
 }

body {
	font-family: proxima-nova, Helvetica, Sans-serif;
	font-weight: 300;
	background: white;
	color: #222;
	font-size: 1.2rem;
	line-height: 2rem;
	margin: 0 auto;
}

img {
	transition: all .5s ease-in-out;
}

img:hover {
	transform: scale(1.1);
}

.donthover:hover {
	transform: none;
}

.container {
	max-width: 1069px;
	margin: 0 auto;
}

.spacing1 {
	margin-bottom: 30px;
}

.spacing2 {
	margin-bottom: 90px;
}

.spacing3 {
	margin-bottom: 180px;
}

.flushright {
	text-align: right;
}

.center {
	text-align: center;
}

.viewport {

}

p {
	margin-bottom: 30px;
	margin-top: 30px;
}

small {
	font-family: proxima-nova, Helvetica, sans-serif;
	font-size: 1rem;
}

a {
	font-family: proxima-nova, Helvetica, sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: none;
	color: #222;
	transition: 500ms color;
}

a:hover, a:active {
	font-family: proxima-nova, Helvetica, sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: none;
	color: var(--gold);
}

h1 {
	font-family: 'KingsValley-Regular', proxima-nova, Sans-serif;
	font-weight: 400;
	font-size: 4rem;
	line-height: 2.8rem;
	margin-bottom: 30px;
}

h2 {
	font-family: 'KingsValley-Regular', proxima-nova, Sans-serif;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 2.5rem;
	margin-bottom: 30px;
}

h3 {
	color: var(--gold);
	font-family: proxima-nova, Helvetica, Sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2.3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h4 {
	font-family: proxima-nova, Helvetica, Sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 2rem;
}

.site-title {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-left: 20px;
	margin-bottom: 9px;
}

.hovertip {
	color: var(--gold);
	animation: 500ms ease-out 0s 1 pulse;
	font-size: .875rem;
}

@keyframes pulse {
			0% {
				transform: scale(1.00);
			}

			50% {
				transform: scale(1.05);
			}

			100% {
				transform: scale(1.00);
			}
		}

.copyright {
	text-align: center;
	font-size: 1rem;
}

.lowercase {
	text-transform: lowercase;
}

.blue {
	color: var(--slate);
}

.white {
	color: white;
}

.gold {
	color: var(--gold);
}

/* Header Styles */

.header, .footer {
	max-width: 1069px;
	margin: 0 auto;
	background: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

.header, .footer a {
	font-family: proxima-nova, Helvetica, Sans-serif;
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 2rem;
	color: #222;
	text-decoration: none;
	transition: 250ms color;
}

.header, .footer a:hover {
	color: var(--gold);
}

.header, .footer a:active {
	color: var(--gold);
}

.head-wrap {
	max-width: 1069px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}

.foot-wrap {
	max-width: 1069px;
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	align-items: center;
}

.logowrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: left;
	align-items: center;
}

.logomark {
	height: 50px;
	width: 50px;
}

.topnav {
	align-self: start;
	display: flex;
	justify-content: flex-end;
	flex-flow: row nowrap;
	list-style-type: none;
	margin-left: 15px;
	max-width: 1069px;
}

.nav-item {
	align-self: end;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: 30px;
}

/* Main Content Styles */

.para {
	margin-top: -10px;
}

.bg-home {
	background: #eeeeee;
	width: 100%;
	top: 230px;
	height: 200px;
	position: absolute;
	z-index: -5;
	animation: 750ms ease-out 0s 1 blackbox;

}

.content-container {
	max-width: 1069px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.home-projects {
	max-width: 1069px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.about-container {

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 30px;
}

.aboutleft {
	margin-right: 36px;
	flex-grow: 1;
	width: 45%;
}

.hero {
	text-align: center;
	margin-top: -120px;
}

.hero h1 {
	color: #ccc;
	font-size: 6.5rem;
	line-height: 4.5rem;
	position: relative;
	top: 300px;
	left: 0px;
	mix-blend-mode: difference;
	transition: color .5s ease-out, visibility .5s;
}

.hero-quote-r {
	display: none;
}

.hero h1:hover {
	color: #111;
}

.hero h3 {
	text-transform: none;
}

.aboutright {
	mix-blend-mode: normal;
}

.aboutright {
	z-index: 1;
}

.hero-img {
	width: 100%;
	max-width: 650px;
	min-width: 350px;
	z-index: 1;
}

.hero-hover {
	max-width: 500px;
	min-width: 350px;
	position: absolute;

	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;

	opacity: 0;
	transition: opacity .5s ease-out, visibility .5s;
}

.hero:hover .hero-hover {
	opacity: .5;
}

.about-img {
	width: 100%;
	max-width: 500px;
	border-radius: 20px;
	opacity: .7;
}

.icon {
	height: 22px;
	width: 22px;
	margin-top: 5px;
}

.social-container {
	max-width: 1069px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*align-items: center;*/
	margin-bottom: 180px;
}

.home-social {
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 900px;
	padding-left: 30px;
	padding-right: 30px;

}

.menu-social {
	width: 66%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.social-text {
	margin-left: 10px;
}

.social-item {
	text-align: left;
	margin-top: 30px;
}

.social-size {
	width: 25px;
	height: 25px;
	margin-bottom: -5px;
}

/* Project Grid */

.eyecon {
	color: white;
	height: 30px;
	width: 30px;
	position: absolute;
	opacity: .8;
	margin: 10px;
}

.collab a {
	font-family: 'KingsValley-Regular', proxima-nova, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 3rem;
	color: var(--gold);
}

.project-thumb {
	width: 100%;
	height: 100%;
}

.projectcard {
	width: 45%;
	height: 100%;
	position: relative;
	margin: 30px 0;
}

.project-card-hover {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.85);
	text-align: center;
	color: #222;
	
	opacity: 0;
	transition: opacity .5s ease-out, visibility .5s;
}

.projectcard:hover .project-card-hover {
	opacity: 1;
}

.project-card-info {
	position: absolute;
	width: 80%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.project-info {
	text-align: center;
}

.project-desc {
	font-size: 1.2rem;
	font-family: proxima-nova, Helvetica, sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 300;
	letter-spacing: .02rem;
}

.project-title {

	margin: 10px 0px;
	font-weight: 500;
}

/* - - - Media Breakpoints - - - */



@media only screen and (max-width: 1112px) {
	.header, 
	.footer, 
	.container, 
	.content-container, 
	.about-container {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media only screen and (max-width: 1010px) {
	.social-container {
		max-width: 900px;
	}
}

@media only screen and (max-width: 988px) {

}

@media only screen and (max-width: 924px) {

	.home-social {
		max-width: 800px;
	}
}


@media only screen and (max-width: 850px) {

	.hero-img {
		min-width: 325px;
	}

	.hero h1 {
		font-size: 5.5rem;
	}
}

@media only screen and (max-width: 841px) {
	.social-size {
		width: 30px;
		height: 30px;
	}

	.home-social {
		max-width: 700px;
	}
}

@media only screen and (max-width: 830px) {

	.project-card-info h1 {
		font-size: 2.5rem;
	}

	.project-card-info small {
		line-height: 1.2rem;
	}
}

@media only screen and (max-width: 748px) {
	.about-container {
		flex-direction: column;
	}

	.herotext {
		margin-top: 30px;
	}

	.site-title {
		font-size: 1rem;
	}

	.aboutleft {
		width: 100%;
		order: 2;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

	}

	.aboutleft {
		order: 1;
	}

	.aboutright {
		width: 90%;
		order: 2;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.social-container {
		align-items: center;
	}

	.blue {
		color: #fff;
	}
}

@media only screen and (max-width: 723px) {
	.hero h1 {
		font-size: 5rem;
	}

	.nav-item {
		margin-left: 20px;
	}
}

@media only screen and (max-width: 700px) {
	.project-card-info {
		width: 90%;
	}

	.project-card-info h2 {
		font-size: 1.6rem;
	}
}

@media only screen and (max-width: 690px) {
	.projectcard {
		width: 100%;
	}

	.fade-title {
		display: none;
	}
}

@media only screen and (max-width: 670px) {
	.header {
	 	display: none; 
	}

	.home-social {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media only screen and (max-width: 665px) {
	.hero h1 {
		font-size: 4.2rem;
	}
}

@media only screen and (max-width: 640px) {
	.social-size {
		width: 40px;
		height: 40px;
		margin-bottom: 30px;
	}

	.social-text {
		display: none;
	}

	.social-container {
		flex-direction: row;
		justify-content: space-around;
	}

}

@media only screen and (max-width: 633px) {
	.logowrapper {
		margin-left: 40px;
	}
}

@media only screen and (max-width: 600px) {
	h3 {
		margin-top: 90px;
	}

	.hero-quote {
		display: none;
	}

	.hero {
		margin-top: 0px;
	}

	.hero h1 {
		position: relative;
		top: 0px;
	}

	.hero-quote-r {
		display: inline-block;
	}

	.hero h3 {
		margin-top: 0px;
	}

	.content-container {
		flex-direction: column;
		padding-right: 0px;
		padding-left: 0px;
	}

	.projectcard {
		width: 100%;
		padding-right: 20px;
		padding-left: 20px;
	}

	.project-card-hover {
		display: none;
	}

	.eyecon {
		display: none;
	}

	.logomark {
		margin-top: 15px;
	}

	.collab {
		margin-top: 60px;
	}
}

@media only screen and (min-width: 600px) {
	.project-info {
		display: none;

	}
}

@media only screen and (max-width: 599px) {
	.display {
	 	display: none; 
	}
}

@media only screen and (max-width: 566px) {
	.hero h1 {
		font-size: 3.5rem;
	}
}

@media only screen and (max-width: 498px) {

	.collab {
		font-size: 1.6rem;
		padding-top: 90px;
	}

	.home-social {
		margin-top: 30px;
	}
}

@media only screen and (max-width: 483px) {
	.hero h1 {
		font-size: 4.8rem;
		line-height: 4.2rem;
	}
}

@media only screen and (max-width: 470px) {
	.about-container {
		padding-left: 0px;
		padding-right: 0px;
	}

	.collab {
		padding-top: 60px;
	}

	.collab a {
		font-size: 1.6rem;
	}
}

@media only screen and (max-width: 435px) {
	h2 {
		font-size: 2.8rem;
	}

	.collab {
		padding-top: 30px;
	}
}

@media only screen and (max-width: 425px) {
	.about-img {
		margin-top: 30px;
	}
}

@media only screen and (max-width: 420px) {
	.social-container {
		margin-top: 180px;

	}

	.hero-img {
		max-width: 350px;
		min-width: 0px;
	}
	
	.footer {
		padding-left: 10px;
		padding-right: 10px;
		max-width: 350px;
		margin-left: 30px;
	}

	.foot-wrap {
		flex-direction: column;
	}

	.topnav {
		margin-left: -15px;
		padding-top: 30px;
	}

	.copyright {
		font-size: .8rem;
	}

	.collab {
		margin-top: 60px;
	}
}

@media only screen and (max-width: 400px) {

	.footer .topnav {
		flex-direction: column;
		align-items: center;
	}

	.footer .nav-item {
		margin-bottom: 15px;
	}

	.footer {
		margin-left: 15px;
	}
}
