.single-project {
	margin: 0 auto;
}

.linkicon {
	margin-right: 0px;
	margin-bottom: -2px;
}

.spacing2 {
	padding-bottom: 90px;
}

.spacing3 {
	padding-bottom: 180px;
}

.offset {
	padding-top: -90px;
}

.flexleft {
	@media only screen and (max-width: 700px) {
		order: 2;
	}
}

.projectanimate article {
	animation-name: projects;
	animation-duration: 500ms;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

		@keyframes projects {
			0% {
				transform: scale(0.8);
				opacity: 0;
				
			}

			100% {
				transform: scale(1.0);
				opacity: 1;
				
			}
		}

	.projectanimate article:nth-child(1) { animation-delay: .1s }
	.projectanimate article:nth-child(2) { animation-delay: .2s }
	.projectanimate article:nth-child(3) { animation-delay: .3s }
	.projectanimate article:nth-child(4) { animation-delay: .4s }
	.projectanimate article:nth-child(5) { animation-delay: .5s }
	.projectanimate article:nth-child(6) { animation-delay: .6s }
	.projectanimate article:nth-child(7) { animation-delay: .7s }
	.projectanimate article:nth-child(8) { animation-delay: .8s }


.flexright {
	@media only screen and (max-width: 700px) {
		order: 1;
	}
}

.topnav {
	margin: 30px auto;
	max-width: 1069px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;

	a {
		padding: 5px 15px;
		border: 1px solid #222;
		border-radius: 20px;
		transition: all 1s ease-out;

		&:hover {
			background-color: #222;
			color: white;
		}
	}

	@media only screen and (max-width: 1112px) {
		padding: 0px 30px;
	}
}

.header {
	max-width: 1069px;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 1px;

	@media only screen and (max-width: 400px) {
		
		padding-left: 10px;
		padding-right: 10px;
	
	}
}

.projecttype {
	display: inline;

	@media only screen and (max-width: 700px) {
		display: block;
	}
}

.categories {
	max-width: 1069px;
	width: 75%;
	margin: 0px auto;
	padding-top: 10px;

	@media only screen and (max-width: 972px) {
		width: 100%;
	}	

	ul {
		display: flex;
		justify-content: space-around;
		list-style-type: none;

		@media only screen and (max-width: 731px) {
			flex-flow: row wrap;
			text-align: center;
			width: 50%;
			margin: 0 auto;
		}	

		@media only screen and (max-width: 600px) {
			padding-bottom: 90px;
		}

		@media only screen and (max-width: 530px) {
			width: 66%;
		}

		@media only screen and (max-width: 390px) {
			width: 75%;
		}
	}

	li {
		padding: 5px 15px;
		background-color: #222;
		color: white;
		border-radius: 20px;
		transition: all .5s ease-out;

		a {
			color: white;

			&:hover {
				color: #222;
			}
		}

		&:hover {
			background-color: white;
			color: #222;
		}

		@media only screen and (max-width: 731px) {
			margin-top: 10px;
		}
	}
}

.section {
	max-width: 1069px;
	margin: 90px auto;
	text-align: center;
}

.sectionbg {
	width: 100%;
	margin: 0 auto;
	padding-top: 90px;
	background: #f2f2f2;
	text-align: center;
}

.sectionwrapper {
	padding-top: 90px;
	max-width: 1069px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	column-gap: 50px;
	align-items: center;

	h3 {
		margin-bottom: 60px;
	}

	@media only screen and (max-width: 1112px) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@media only screen and (max-width: 800px) {
		display: flex;
		flex-direction: column;
	}

	@media only screen and (max-width: 600px) {
		padding-top: 0px;
	}

	@media only screen and (max-width: 480px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.sectionwrapper2 {
	max-width: 1069px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	column-gap: 50px;
	align-items: center;

	@media only screen and (max-width: 1112px) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@media only screen and (max-width: 700px) {
		display: flex;
		flex-direction: column;
	}

	@media only screen and (max-width: 600px) {
		padding-top: 0px;
	}

	@media only screen and (max-width: 480px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.left {
	grid-column-start: 1;
	text-align: left;
	margin-bottom: 90px;


	@media only screen and (max-width: 600px) {
		margin-bottom: 45px;
		padding-top: 0px;
	}

	ul {
		text-align: center;
		display: flex;
		flex-flow: column nowrap;
		font-weight: 500;
		list-style-type: none;
	}

	li {
		text-align: center;
	}

	h4 {
		padding-bottom: 30px;
	}
}

.leftwidth {
	width: 66%;
	text-align: center;
	padding: 30px;


	@media only screen and (max-width: 700px) {
		width: 80%;
	}

	@media only screen and (max-width: 520px) {
		width: 100%;
	}
}

.rightwidth {
	width: 50%;
}

.leftgrid {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	column-gap: 30px;
	text-align: left;
	margin-bottom: 90px;

	p {
		margin: 10px 0px;
	}
}

.right {
	grid-column-start: 2;
	text-align: left;
	margin-bottom: 90px;

	@media only screen and (max-width: 600px) {
		margin-bottom: 45px;
	}

	ul {
		text-align: center;
		display: flex;
		flex-flow: column nowrap;
		font-weight: 500;
		list-style-type: none;
	}

	li {
		padding-bottom: 15px;
	}

	h4 {
		padding-bottom: 30px;
	}
}

.triwrapper {
	padding-top: 90px;
	max-width: 1069px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	align-items: center;

	@media only screen and (max-width: 1112px) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@media only screen and (max-width: 800px) {
		flex-direction: column;
	}

	@media only screen and (max-width: 600px) {
		padding-top: 0px;
	}

	@media only screen and (max-width: 480px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.tri {
	margin-bottom: 90px;
}

.quadwrapper {
	padding-top: 30px;
	max-width: 1069px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: center;
	margin-bottom: 90px;

	@media only screen and (max-width: 1112px) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@media only screen and (max-width: 800px) {

	}

	@media only screen and (max-width: 600px) {
		padding-top: 0px;
	}

	@media only screen and (max-width: 480px) {
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}
}

.quad {
	text-align: center;
}

.storywrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	@media only screen and (max-width: 800px) {
		grid-template-columns: 1fr 1fr;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.sectioncenter {
	text-align: center;
	padding: 30px;
	max-width: 900px;
	margin: 0 auto;
	margin-bottom: 90px;
}

.storypic {
	width: 100%;
	max-width: 300px;
}

.tripic {
 	max-width: 300px;
 	width: 100%;
}

.pic {
	width: 100%;
	max-width: 500px;
	min-width: 300px;

	@media only screen and (max-width: 600px) {
		max-width: none;
	}
}

.posterpic {
	width: 100%;
	max-width: 350px;
	min-width: 225px;

	@media only screen and (max-width: 600px) {
		max-width: 275px;
	}
}

.widepic {
	width: 100%;
	max-width: 800px;
	margin-bottom: 30px;

	@media only screen and (max-width: 700px) {
		max-width: 600px;
	}

	@media only screen and (max-width: 600px) {
		max-width: 500px;
		width: 90%;
	}

	@media only screen and (max-width: 500px) {
		max-width: 400px;
	}

	@media only screen and (max-width: 425px) {
		max-width: 350px;
	}
}

.xsmallpic {
	width: 100%;
	max-width: 86px;
	/* margin-left: 90px; */
}

.smallpic,
.cardpic {
	width: 100%;
	max-width: 224px;
	margin-right: 30px;

	@media only screen and (max-width: 600px) {
		margin: 0;
		padding: 10px;
	}

	@media only screen and (max-width: 508px) {
		max-width: 200px;
	}

	@media only screen and (max-width: 431px) {
		max-width: 250px;
		padding: 5px;
	}
}

.cardpic {
	display: block;
	margin: 15px 5px;
	max-width: 200px;

	@media only screen and (max-width: 430px) {
		max-width: 150px;
	}
}

.smallpicwrap {
	@media only screen and (max-width: 431px) {
		text-align: center;
	}
}

.mediumpic {
	width: 100%;
	max-width: 300px;
}

.shadow {
	box-shadow: 0px 0px 15px #ccc;
	}

.backwrapper {
	text-align: right;
	max-width: 1069px;
	margin: 0 auto;

	@media only screen and (max-width: 1112px) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@media only screen and (max-width: 801px) {
		text-align: center;
	}
}

.btnback {
	background: #222;
	font-family: proxima-nova, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1rem;
	color: white;
	width: 143px;
	height: 30px;
	border: 0;
	border-radius: 20px;
}

.colorlist {
	list-style-type: none;
	text-align: left;
	font-weight: 500;

}

.font1 {
	width: 100%;
	max-width: 338px;


	@media only screen and (max-width: 600px) {
		padding-top: 30px;
	}
}

.font2 {
	width: 100%;
	max-width: 100px;
	margin-top: 30px;
}

.font3 {
	width: 100%;
	max-width: 160px;
	margin-top: 30px;
}

.brandingshape {
	max-width: 1069px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -90px;
	text-align: left;

	@media only screen and (max-width: 1112px) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@media only screen and (max-width: 600px) {
		margin-bottom: 0px;
	}
}

.branding {
	max-width: 1069px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;

	@media only screen and (max-width: 1112px) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@media only screen and (max-width: 600px) {
		margin-bottom: 0px;
	}

	@media only screen and (max-width: 480px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.ux {
	max-width: 1069px;
	margin: 90px auto;
	display: grid;
	grid-template-columns: 3fr 1fr 3fr;
	align-items: center;

	@media only screen and (max-width: 1112px) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@media only screen and (max-width: 700px) {
		display: flex;
		flex-direction: column;
	}
}

.downarrow {
	display: none;

	@media only screen and (max-width: 700px) {
		display: block;
		margin: 30px;
	}
}

.rightarrow {
	@media only screen and (max-width: 700px) {
		display: none;
	}
}

.web {
	width: 100%;
	margin: 0 auto;
	background: #f2f2f2;
	text-align: center;

	@media only screen and (max-width: 1112px) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.mobiledesign {
	max-width: 1069px;
	margin: 90px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	text-align: center;

	@media only screen and (max-width: 1112px) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.mobilepic {
	width: 100%;
	max-width: 200px;
	margin-right: 25px;


	@media only screen and (max-width: 700px) {
		margin: 30px;
	}
}

.mobilepic2 {
	width: 100%;
	max-width: 224px;

	@media only screen and (max-width: 960px) {
		max-width: 200px;
	}

	@media only screen and (max-width: 800px) {
		max-width: 224px;
	}
}

.radius {
	border-radius: 10px;
}

.center {
	text-align: center;
}